:root { 
    --default-font-family: 'Raleway', sans-serif;


}
body {
    font-family: 'Playfair Display', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ballet', cursive;
font-family: 'Fondamento', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Pinyon Script', cursive;
}

h1 {
    font-family: 'Playfair Display', serif;
    
}

h2 {
    font-family: 'Playfair Display', serif;

}

h3 {
    font-family: 'Playfair Display', serif;

}

h5 {
    font-family: 'Audrey', serif;
    font-weight: 400;
}

/* p {
    font-family: 'Audrey', serif;
} */

.agent-section-right-container {
    text-align: left;
    margin: 95px auto;
    padding-top: 25px;
    padding-left: 150px;
    padding-right: 150px;
    
}

/* 

.agent-section-right h1 {
    margin-top: 175px;
    margin-left: 200px;
    
}

.agent-section-right h5 {
    margin-left: 200px;
    
}

.agent-section-right p {
    margin-left: 200px;
    margin-right: 150px;
    
} */

/* .btn-primary {
    margin-left: 200px;
} */

.agent-left-image {
    background-image: url("/images/TCR1-1A.jpg");
}

/* .btn-branding {
    background: var(--branding-color);
    color: white;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline {
    color: var(--branding-color);
    border-radius: 4px;
    border: 1px solid var(--branding-color);
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.btn-branding-outline:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
} */

.about-text {
    font-size: 15px;
    margin: 0px 0px 60px;
    padding: 0px 0px 60px;
}


.disclaimer p {
    font-size: smaller;
}

.agent-description {
    font-size: 15px; 
}

.social-links a {
    margin: 0 20px;
    color: black;
    background: white;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.social-links a:hover {
    color: white;
    background: darkgreen;
    border: 1px solid black;
};

.imgContainer-mlslogo {
    height: 45px;
    width: 145px;
}

@media (max-width: 900px) {
    .imgContainer-mlslogo {
        height: 45px;
        width: 145px;
    }

}
